html, body {
font-family: 'Overpass', sans-serif;

  margin: auto;

  color: #7E8989 ;

}
canvas {
  display: block;
  margin: 100px auto;
}

div{
padding: 15px;
width: 750px;
text-align: justify;
position: relative;
float:none;
top: 50%;
left: 23%;


}
