
.canvas {
  display: block;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 200px;
  position: relative;
}

body{
  font-family: Courier New;
  color: #7E8989;
}



h2{
  margin: 15px 200px;
}

p {
  margin: auto 200px;
  position: relative;
}
